@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
.title,
.description,
.level {
  margin: 0;
}

body {
  background: #01977c no-repeat url(img/Background.jpg);
}

  .start-page {
  width: 85.6%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-top: 13.5vh;
}

.game-page {
  display: none;
}

.text {
  margin-bottom: 6.1vh;
}

.title,
.description,
a,
.button {
  color: #fff;
}

.title {
  font: bold 5.56vh/4.5vh roboto, arial, sans-serif;
  padding-bottom: 1.5vh;
}

.description {
  font: 1.91vh/3vh robotoregular, arial, sans-serif;
}

.main {
  display: flex;
  justify-content: space-between;
  height: 41.8vh;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.level {
  font: bold 4.85vh/5.3vh roboto, arial, sans-serif;
  transform: translate(-0.9vh, -0.2vh);
}

.lvl {
  list-style-type: none;
  padding-bottom: 2.9vh;
}

.level__btn {
  text-decoration: none;
}

.level__btn::before {
  display: inline-block;
  content: "";
  width: 2vh;
  height: 2vh;
  background-color: #d62b2e;
  opacity: 0;
  transition: opacity .5s, width .5s;
  left: 50%;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.level__btn.active:hover {
  color: #d62b2e;
}

.level__btn.active::before {
  opacity: 1;
  position: relative;
  top: -0.4vh;
  left: -1.7vh;
}

.level__btn,
.button,
.card__front-flip,
.card__back-flip {
  cursor: pointer;
}

.button {
  font: bold 3vh/5.6vh roboto, arial, sans-serif;
  padding: 1.9vh 8.6vh;
  background: #d62b2e;
  border: none;
  border-radius: 7px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.button:hover {
  background-color: transparent;
  transition: all .15s ease-in-out;
  color: #d62b2e;
  box-shadow: 0 0 1vw 0 #00d7c3 inset, 0 0 1.2vw 0.2vw #00d7c3;
  border: 0.2vw solid #00d7c3;
  border-radius: 7px;
}

.cards {
  position: relative;
}

.top-card {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate(39.26deg);
  position: absolute;
  top: 25vh;
  right: 4.7vh;
}

.top-card:hover {
  cursor: pointer;
  animation:  bounce-menu 2s ease-out infinite;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@keyframes bounce-menu {
  0%, 100% {
    transform: translateY(0%);
  }
  25%, 50%, 75% {
    transform: translateY(-15%);
  }
	0%, 100% {
		transform: rotate(0deg);
	}
  20%, 60% {
		transform: rotate(-20deg);
	}
	40%, 80% {
		transform: rotate(20deg);
	}
}

.lower-card {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  transform: rotate(11.9deg);
  position: absolute;
  top: 23.1vh;
  right: 22vh;
}

img {
  width: 21.8vh;
}

.flip-card {
  display: grid;
  grid-template-columns: 16.8vw 16.8vw 16.8vw;
  grid-row-gap: 25.4vw;
}

.flip-card-inner {
  text-align: center;
  transition: transform .5s;
  transform-style: preserve-3d;
}

.card__front-flip,
.card__back-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip {
  transform: rotateY(180deg);
}

.card__back-flip {
  transform: rotateY(180deg);
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0%);
  }
    25%, 50%, 75% {
    transform: translateY(-8%);
  }
	0%, 100% {
		transform: rotate(0deg);
	}
  20%, 60% {
		transform: rotate(-5deg);
	}
	40%, 80% {
		transform: rotate(5deg);
	}
}

.CardFaceDown:hover {
  cursor: pointer;
  animation:  bounce 2s ease-out 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.game-page.hide {
  visibility: hidden;
}

@media (max-width: 768px) {
  .start-page {
    padding-top: 44vw;
    align-items: center;
  }

  .text {
    text-align: center;
    margin-bottom: 3.1vh;
  }

  .menu {
    justify-content: normal;
  }

  .cards {
    position: inherit;
  }

  .lower-card {
    top: 4.1vh;
    right: 26vh;
  }

  .top-card {
    top: 5vh;
    right: 11.7vh;
  }

  img {
    width: 13.8vh;
  }

/* 
  .game-page {
    height: 80vh;
  }

  .flip-card {
    grid-template-columns: 17vh 17vh 17vh;
    grid-row-gap: 45vw;
  }

  .flip-card-10cards {
    grid-template-columns: 30vw 30vw;
    grid-row-gap: 26vw;
  }

  .flip-card-10cards img {
    width: 12vh;
  } */
} 