@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
.title,
.description,
.level {
  margin: 0;
}

.start-page {
  width: 100vw;
  height: 100vh;
  background: url(img/background.png);
  background-color: #01977c;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  width: 88%;
  height: 77.5%;
  margin: 28px 0 0 34px;
}

.text {
  width: 66%;
  text-align: start;
  margin-bottom: 62px;
}

.title,
.description,
.level,
.button {
  color: #fff;
}

.title {
  font: bold 57px/66.8px roboto, arial, sans-serif;
  padding-bottom: 7px;
}

.description {
  font: 19.7px/23.44px robotoregular, arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  width: 25vw;
}

.level {
  font: bold 50px/58.59px roboto, arial, sans-serif;
  list-style-type: none;
  padding-left: 49px;
}

li,
.button,
.card__front-flip,
.card__back-flip {
  cursor: pointer;
}



li {
  padding-bottom: 26px;
}

li:last-child {
  padding-bottom: 111px;
}

.button {
  font: bold 32px/37.5px roboto, arial, sans-serif;
  padding: 29px 85px;
  background: #d62b2e;
  border: none;
  border-radius: 7px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  margin-bottom: 200px;
  display: inline-block;

  
}

.button:hover {
  background-color: transparent;
  transition: all .15s ease-in-out;
  color: #d62b2e;
  box-shadow: 0 0 15px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 4px solid #00d7c3;
}

.card {
  /* display: flex; */
  align-items: flex-end;
  justify-content: center;
  width: 41%;
  position: relative;
}




.flip-card {
  /* width: 300px;
  height: 400px; */
  background-color: transparent;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform .5s;
  transform-style: preserve-3d;
  box-shadow: 0 10px 15px 0 #5c646b;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card:hover
.flip-card-inner {
  transition: 0.7s ease-in-out;
}


.card__back-flip {
  transform: rotate(11.9deg);
  position: absolute;
}


.card__front-flip,
.card__back-flip {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}



.card__back-flip {
  transform: rotateY(180deg);
}



.card__front-flip {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  /* drop-shadow(-2px 0 1px rgba(0, 0, 0, 0.3)); */
  transform: rotate(39.26deg);
  position: absolute;
  left: 177px;
  top: 300px;
}

.card__lower {
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.7));
  /* drop-shadow(-2px 0 1px rgba(0, 0, 0, 0.3)); */
  transform: rotate(11.9deg);
  position: absolute;
  top: 244px;
  left: 37px;
}




